// @import "*";

.erb {
  display: none;
}

.selectedSite {
  color: red;
}

.archived {
  color: red;
}

.active {
  color: green;
}

#resultsList {
  width: 400px;
  height: 400px;
  border: solid black;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
}

#map {
 height: 400px;
 width: 100%;
}
